.pay_success_wrap{
    text-align: center;
    font-size:14px;
    color: #333;
    padding-bottom: .6rem;
    border:1px solid rgba(242,242,242,1);
}
.pay_success_icon{
    width:1.2rem;
    height: 1.2rem;
    display: block;
    margin:.8rem auto .4rem
}
.wechat_info_wrap{
    width:100%;
    padding: 0 .3rem;
    box-sizing: border-box;
    display: none
}
.tips{
    font-size:12px;
    color:#999;
    margin-top:.44rem
}
.wechat_focus_area{
    width:100%;
    box-sizing: border-box;
    margin-top:.2rem
}

.wechat_service_name{
    font-size:24px;
    color:#333;
    font-weight: bold
}
.copy_wechat_service{
    padding:.08rem .3rem;
    background: rgba(224,187,123,1);
    border-radius: .04rem;
    font-size:12px;
    color:#784C07;
    cursor: pointer;
}
.wechat_handle_info{
    margin-top:.32rem;
}
.wechat_handle_info>img{
    width:1.2rem;
    height: 1.2rem;
    background: #ccc;
    border-radius: 50%;
    margin-right: .16rem
}
.wechat_text_big{
    font-size:16px;
    color:#333
}
.wechat_text_small{
    font-size:12px;
    color:#999;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.wechat_text_area{
    height: 1.2rem;
}
.wechat_service_icon{
    width:1.2rem;
    height: 1.2rem;
}
.complete_btn{
    width:100%;
    height: .92rem;
    line-height: .92rem;
    text-align: center;
    color:#fff;
    font-size:17px;
    background:rgba(75,138,243,1);
    border-radius:.08rem;
    border:none;
    margin-top:.6rem;
}
.wechat_copy_icon{
    width:.48rem;
    height: .48rem;
    cursor: pointer;
}

.tips_wrap{
    width:100%;
    padding:.3rem;
    box-sizing: border-box;
}
.tips_title{
    color:#333;
    font-size:14px;
}

.tips_content{
    color:#999999;
    font-size:12px;
    margin-top:.12rem;
}
.create_team_wrap{
    margin-top:.3rem;
    text-align: center
}

.create_team_wrap button{
    width:6.9rem;
    height: .92rem;
    line-height: .92rem;
    text-align: center;
    background: #4B8AF3;
    border:none;
    border-radius: 0.08rem;
    color:#fff;
    font-size:17px;
}