#page{
    width:100%;
    padding-bottom:1.52rem
}
.user_info{
    padding:.3rem;
    box-sizing: border-box;
    /* display: none */
}
.user_avater{
    width: 1rem;
    height: 1rem;
    background: #ccc;
    border-radius: 50%;
    margin-right: .16rem
}
.user_name{
    font-size:16px;
    color:#333;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.user_indentity{
    max-width: 5.74rem;
}
.user_area{
    height: 1rem;
}
.user_member_symbol{
    width:.4rem;
    height: .4rem;
    display: none
}
.open_area{
    font-size:12px;
    color:#757575
}
.line_noUse{
    height: .2rem;
    width:100%;
    background: rgba(242,242,242,1);
}
.member_type_area{
    font-size:0;
    text-align: center
}
.member_type_list li{
    display: inline-block;
    font-size:16px;
    color: #999;
    padding:.24rem 0;
    width:50%;
    position: relative;
}
.member_type_list li:last-child{
    margin-right: 0
}
.member_type_list li.active{
    /* background: url(../img/hot_bar@2x.png) no-repeat bottom center; */
    color:#333
}
.active:after{
    content:'';
    height:2px;
    background: #333;
    width:.24rem;
    display: inline-block;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.member_benefit{
    text-align: center;
    vertical-align: middle;
    font-size:16px;
    color:#333;
    margin:.3rem 0 .2rem 0
}
.pack_up_icon{
    width:.24rem;
    height: .24rem;
    cursor: pointer;
    /* transition: all .4s */
}
.rotate{
    transform: rotate(-180deg)
}

.select_icon{
    width:.4rem;
    height: .4rem;
}
.member_option_wrap{
    width:100%;
    box-sizing: border-box;
    padding:0 .3rem
}
.member_option_wrap{
    padding-bottom: .42rem;
    border-bottom: 1px solid rgba(242,242,242,1);
}
.member_option_wrap li{
    padding:.38rem 0.2rem .36rem 0.2rem;
    color:#333;
    margin-top:.3rem
}
.member_month{
    font-size:16px
}
.member_option_wrap li.choseActive{
    border:1px solid #4B8AF3;
    border-radius: .08rem
}
.old_price{
    font-size:12px;
    color:#CDCDCD
}
.normal_price_area{
    color:#F15A4A;
    font-size:18px;
    margin:0 .2rem 0 .1rem
}

.member_couple_area{
    font-size:16px;
    color:#333;
    width:100%;
    padding:.6rem .3rem;
    box-sizing: border-box;
    border-bottom:1px solid rgba(242,242,242,1);
    letter-spacing: 1px;
    display: none;
}
.member_couple_box{
    width:100%;
    
}
.question_icon{
    width:.48rem;
    height: .48rem;
    cursor: pointer;
}
.check_icon{
    width:.4rem;
    height: .4rem;
}
.wechat_icon{
    width:.6rem;
    height: .6rem;
    margin-right: .2rem
}
.pay_option_icon{
    width:.4rem;
    height: .4rem;
}
.member_pay_option_ara{
    width:100%;
    padding:0 .3rem;
    box-sizing: border-box;
    margin-top:.4rem;
    font-size:14px;
    color:#333;
    /* display: none; */
}
.member_pay_option_ara li{
    width:100%; 
    margin-top:.36rem;
    overflow: hidden;
}
.member_agreement_area{
    text-align: center;
    font-size:13px;
    color:#999;
    margin-top:.6rem
}
.member_agreement_area a{
    color:#4B8AF3
}
/* fixed */
.android_footer_area{
    width:100%;
    height: .92rem;
    position: fixed;
    left:0;
    bottom:0;
    background: #fff;
    display: none;
}
.android_footer{
    width:100%;
    height: 100%;
    box-shadow:0px -1px 0px 0px rgba(242,242,242,1);
}
.android_currentArea{
    height: 100%;
    flex:1;
    margin-left:.3rem
}
.pay_price_text{
    width:2.6rem;
    background: #E0BB7B;
    color:#784C07;
    height: 100%;
    text-align: center;
    line-height: .92rem
}
.money_symbol,.pay_price{
    font-size:22px
}
.money_symbol{
    margin-left:.2rem
}
.open_status.expireActive{
    color:#F15A4A
}
.vip_equity_text{
    margin-top:.3rem;
    margin-bottom:.4rem;
    display: none
}
.vip_equity_text,.vip_equity_text img{
    width:100%
}
.tips_con{
    margin:.4rem 0;
    text-align: center;
    color:#4B8AF3;
    font-size:12px;
}
.member_all_option{
    display: none
}


/* ios */
.ios_footer_area{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: rgba(224,187,123,1);
    height: .92rem;
    line-height: .92rem;
    text-align: center;
    color: #784C07;
    font-size: 17px;
    display: none;
}
.noSubmit{
    background: rgba(205,205,205,1);
    color:#fff
}

.loading_icon{
    display: inline-block;
    width: .36rem;
    height: .36rem;
    -moz-background-origin: border;
    background-origin: border-box;
    border: 2px solid #784C07;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: loading 1s linear infinite;
    margin-right: .1rem
}
@keyframes loading{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.payFail_wrap{
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    font-size:14px;
    z-index:21;
    width:100%;
    display: none
}
.payFail_info{
    padding:.12rem .3rem; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:3px;
    display: inline-block;
    background: rgba(0,0,0,0.7);
    color:#fff;
}


/* new 20190505 */
.public_text_wrap{
    width:6.9rem;
    background:rgba(242,242,242,1);
    font-size:14px;
    padding:.3rem;
    box-sizing: border-box;
    margin-top:.36rem;
    margin-bottom:.24rem;
    /* overflow: hidden; */
}

.media_copy_icon{
    width:.36rem;
    height: .36rem;
    cursor: pointer;
}
.company_header{
    color:#757575
}
.company_info{
    margin-top:.2rem;
    color:#333;
}
.left_title{
    margin-right: .6rem;
}
.right_content{
    flex:1
}