body, h1, h2, h3, h4, p, ul, ol, dl, dd, textarea, button {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body{
    overflow: scroll;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, a, textarea, input, button, span, em, strong, img, div {
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

input[type=text], input[type=button], input[type=password], input[type=telphone], input[type=search], textarea, button {
    outline: 0 none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}
html,body{
    font-family: Microsoft Yahei,SimSun,Helvetica;
}

body{
    margin:0 auto;
}
body{
    font-size:14px;
    background:#fff
}